/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* #baddf9, #edffff, #89abc6 */
/* #e3f2fd, #ffffff, #b1bfca */
.cus-main-bgcolor {
    background-color: #e0f7fa;
}
